{% load static %}
<!-- jQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'js/metisMenu.min.js' %}"></script>
{#<!-- Morris Charts JavaScript -->#}
<!-- DataTables JavaScript -->
<script src="{% static 'js/dataTables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables/dataTables.bootstrap.min.js' %}"></script>
{#<script src="{% static 'js/raphael.min.js' %}"></script>#}
{#<script src="{% static 'js/morris.min.js' %}"></script>#}
{#<script src="{% static 'js/morris-data.js' %}"></script>#}
<!-- Custom Theme JavaScript -->
<script src="{% static 'js/startmin.js' %}"></script>
{#<script src="{% static 'js/main.js' %}" defer></script>#}
<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
</script>





