{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Connexion | Agromap-Traçability</title>

        <!-- Bootstrap Core CSS -->
        {% include '_partials/css.html' %}
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 style="margin-top: -5px;margin-bottom: -10px; font-style: oblique; text-align: center"><marquee direction = "left">BIENVENU SUR</marquee></h3>
                            <img src="{% static 'img/logo_png.png' %}" style=" display: block; margin: auto; width: 180px; height: 150px">
                                <h4 style="margin-top: -10px; font-style: oblique; text-align: center; font-size: 18px">Traçability</h4>
                        </div>
                        <div class="panel-body">
                            <h3 class="panel-title text-center"><b>AUTHENTIFICATION</b></h3>
                            <p class="text-danger" style="background-color: #CD5C5C">{% include '_partials/messages_display.html' %}</p>
                            <form class="login-form" method="post" action="." enctype="multipart/form-data" accept-charset="utf-8">
                                {% csrf_token %}
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="nom utilisateur" name="username" type="text" autofocus required="">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="mot de passe" name="password" type="password" value="" required="">
                                    </div>
                                    <!-- Change this to a button or input when using this as a form -->
{#                                    <a class="btn btn-lg btn-success btn-block">Connexion</a>#}
                                    <button class="btn btn-lg btn-success btn-block" type="submit">Connexion</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include '_partials/js.html' %}

    </body>
</html>
